.carousel {
    margin: 0 auto;
    max-width: 900px;
}

.carousel img {
    max-height: 599px;
    opacity: 1;
}

.left.carousel-control, .right.carousel-control {
    width: 30%;
    opacity: 0;
}

.left.carousel-control:hover, .right.carousel-control:hover {
    opacity: 0.75;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
    font-size: 0.9em;
    align-content: center;
}

.nav-for-carousel {
    max-width: 900px;
    background-color: #222;
    margin: 0.25em auto;
}

.carousel-indicators {
    display: none;
    bottom: -5px;
}
